<div class="container">
  <style>
    .invalid .form-control {
      border: 1px solid red;
    }
  </style>
  <form name="labelForm" class="row" id-submit="validate()" novalidate>
    <h1 class="col-xs-12">Fields</h1>
    <boolean-field class="col-xs-6" valid="valid.boolean" label="BOOLEAN" disable="booleanDisable" required="true"></boolean-field>
    <!--<date-field class="col-xs-6" valid="valid.date" label="DATE" disable="dateDisable" required="true"></date-field>-->
    <image-field class="col-xs-6" valid="valid.image" label="IMAGE" disable="imageDisable"></image-field>
    <text-field class="col-xs-6" valid="valid.text" label="TEXT" disable="textDisable" required="true"></text-field>
    <textarea-field class="col-xs-6" valid="valid.textarea" label="TEXTAREA" rows="10" disable="textareaDisable" required="true"></textarea-field>

    <button type="submit">Validate</button>
  </form>
  <div class="row">
    <h2 class="col-xs-12">Disable Boxes</h2>
    <boolean-field class="col-xs-2" label="BOOLEAN disable" field="booleanDisable"></boolean-field>
    <boolean-field class="col-xs-2" label="DATE disable" field="dateDisable"></boolean-field>
    <boolean-field class="col-xs-2" label="IMAGE disable" field="imageDisable"></boolean-field>
    <boolean-field class="col-xs-2" label="TEXT disable" field="textDisable"></boolean-field>
    <boolean-field class="col-xs-2" label="TEXTAREA disable" field="textareaDisable"></boolean-field>
    </div>
  </div>
</div>
