<boolean-field label="BOOLEAN"></boolean-field>
<date-field label="DATE" ng-model="test"></date-field>
<image-field label="IMAGE"></image-field>
<text-field label="TEXT"></text-field>
<textarea-field label="TEXTAREA"></textarea-field>