<div class="form-group checkbox-directive">
  <label ng-if="ctrl.label">
    {{ctrl.label}}
  </label>
  <div ng-switch on="ctrl.type" class="checkbox-wrapper">
    <div class="check-box-container" ng-switch-when="blocky">
      <label class="checkbox">
        <input ng-disabled="ctrl.disable" type="checkbox" class="check-box-input" ng-checked="ctrl.field == true" ng-model="ctrl.field" ng-change="ctrl.changed()">
        <span>{{ctrl.on}}</span>
        <span>{{ctrl.off}}</span>
      </label>
    </div>
    <div class="onoffswitch" ng-switch-when="switch">
      <input type="checkbox" name="{{ctrl.uniqueId}}" class="onoffswitch-checkbox" id="{{ctrl.uniqueId}}" ng-disabled="ctrl.disable" ng-checked="ctrl.field == true" ng-model="ctrl.field" ng-change="ctrl.changed()">
      <label class="onoffswitch-label" for="{{ctrl.uniqueId}}">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
      </label>
    </div>
  </div>
</div>