<div class="form-group">
  <label for="{{::$ctrl.uniqueId}}" ng-if="$ctrl.label || $ctrl.description">
    {{$ctrl.label}}
    <i ng-if="$ctrl.field.description"
       tooltip="{{$ctrl.field.description}}"
       class="icon-question-mark"></i>
  </label>
  <div class="input-group"
       moment-picker="$ctrl.displayModel"
       ng-model="$ctrl.ngModel"
       format="{{$ctrl.options.format}}"
       start-view="{{$ctrl.options.startView}}"
       today="$ctrl.options.today"
       min-view="{{$ctrl.options.minView}}"
       max-view="{{$ctrl.options.maxView}}"
       min-date="$ctrl.options.minDate"
       max-date="$ctrl.options.maxDate"
       disable="$ctrl.ngDisabled"
       start-date="$ctrl.options.startDate">
    <span class="input-group-addon"><i class="icon-calendar"></i></span>
    <input class="date-picker form-control"
           placeholder="{{ $parent.$parent.$ctrl.placeholder }}"
           ng-model="$ctrl.displayModel"
           ng-class="{'disabled': $ctrl.ngDisabled}"
           ng-disabled="$ctrl.ngDisabled"
           disable="$ctrl.ngDisabled">
  </div>
</div>
