<div class="file-uploader-container" ng-switch on="ctrl.type">
  <label>
    {{ctrl.label}}
    <i ng-if="ctrl.description" tooltip="{{ctrl.description}}" class="icon-question-mark"></i>
  </label>

  <div ng-switch-when="buttons" class="buttons-uploader row">
    <div class="col-7" ng-show="!ctrl.uploaderUrlImage">
      <div class="file-drop-area text-center" ng-class="{'file-present':uploaderUrlImage || ctrl.files.name}" ngf-drop ng-model="ctrl.files"
           ngf-drag-over-class="dragover" ngf-multiple="false" ngf-accept="'.jpg,.png'" ng-disabled="ctrl.disable">
          Drop your image here
      </div>
    </div>

    <div class="image-preview col-md-auto mb-1 mb-md-0 text-center-sm" ng-show="ctrl.uploaderUrlImage || ctrl.files.name">
      <div ng-show="!ctrl.uploaderUrlImage && ctrl.files.name">
        <img class="img-fluid" ngf-src="ctrl.files.value"/>
      </div>
      <div ng-show="ctrl.uploaderUrlImage && !ctrl.file">
        <img class="img-fluid" ng-src="{{ctrl.uploaderUrlImage}}" alt=""/>
      </div>
    </div>

    <div class="buttons-container col-md-auto">
      <a class="btn btn-outline-primary d-block mb-1" ng-show="!ctrl.disable" ng-class="{'file-present':uploaderUrlImage || ctrl.files.name}" ng-model="ctrl.files"
          ngf-multiple="false" ngf-select ngf-accept="'.jpg,.png'" tabindex="0">
        Upload image
      </a>
      <a class="btn btn-outline-danger d-block" ng-show="!ctrl.disable && (ctrl.uploaderUrlImage || ctrl.files.name)" ng-click="ctrl.remove()" ng-disabled="ctrl.disable" tabindex="0">
        Remove image
      </a>
    </div>

    <div class="col-12 mt-2" ng-show="ctrl.uploadProgress > 0">
      <div class="progress">
        <div class="progress-bar" style="width:{{ctrl.uploadProgress}}%"></div>
      </div>
    </div>
  </div>

  <div ng-switch-when="round" class="round-uploader row">
    <div class="file-drop-area" ng-class="{'file-present':uploaderUrlImage || ctrl.files.name}" ngf-select ngf-drop ng-model="ctrl.files"
         ngf-drag-over-class="dragover" ngf-selectngf-multiple="false" ngf-accept="'.jpg,.png'" ng-disabled="ctrl.disable">
      <a ng-show="!ctrl.uploaderUrlImage">
        Upload image
      </a>
      <a ng-show="ctrl.uploaderUrlImage">
        Change image
      </a>
      <div class="image-preview">
        <div ng-show="!ctrl.uploaderUrlImage && ctrl.files.name">
          <img class="img-fluid" ngf-src="ctrl.files.value"/>
        </div>
        <div ng-show="ctrl.uploaderUrlImage && !ctrl.file">
          <img class="img-fluid" ng-src="{{ctrl.uploaderUrlImage}}" alt=""/>
        </div>
      </div>
    </div>

    <div class="col-12 mt-2" ng-show="ctrl.uploadProgress > 0">
      <div class="progress" style="height: 4.5px;">
        <div class="progress-bar" style="width:{{ctrl.uploadProgress}}%"></div>
      </div>
    </div>
  </div>

</div>
