<div ng-class="{'invalid':!ctrl.valid && ctrl.valid != null}" class="form-group">
  <label for="{{::ctrl.uniqueId}}">{{ctrl.label}}</label>
  <label class="pull-right">{{ctrl.field ? ctrl.field.length : '0'}} characters</label>
  <summernote config="ctrl.options" ng-disabled="ctrl.disable" id="{{::ctrl.uniqueId}}" class="form-control" ng-model="ctrl.field" name="{{ctrl.uniqueId}}" on-init="ctrl.init()" editor="editor"></summernote> <!--placeholder="{{ctrl.label}}" ng-attr-rows="{{ctrl.rows || '1'}}" ng-trim="false" ng-disabled="ctrl.disable" id="{{::ctrl.uniqueId}}" class="form-control" ng-model="ctrl.field" style="height:100%;" name="{{::ctrl.uniqueId}}"></summernote>-->
</div>