<div ng-class="{'invalid':!ctrl.valid && ctrl.valid != null}" class="form-group" ng-switch on="ctrl.type">
  <label for="{{::ctrl.uniqueId}}">{{ctrl.label}}</label>
  <input name="{{::ctrl.uniqueId}}" ng-switch-when="text" ng-blur="ctrl.onBlur()" id="{{::ctrl.uniqueId}}" class="form-control" type="text" ng-model="ctrl.field" placeholder="{{ctrl.placeholder || ctrl.label}}" ng-disabled="ctrl.disable">
  <input name="{{::ctrl.uniqueId}}" ng-if="ctrl.passwordMatch" ng-switch-when="password" ng-blur="ctrl.onBlur()" id="{{::ctrl.uniqueId}}" class="form-control" type="password" ng-model="ctrl.field" placeholder="{{ctrl.placeholder || ctrl.label}}" ng-disabled="ctrl.disable">
  <input name="{{::ctrl.uniqueId}}" ng-if="!ctrl.passwordMatch" ng-switch-when="password" ng-blur="ctrl.onBlur()" id="{{::ctrl.uniqueId}}" class="form-control" type="password" ng-model="ctrl.field" placeholder="{{ctrl.placeholder || ctrl.label}}" ng-disabled="ctrl.disable" zxcvbn="ctrl.passwordStrength">
  <input name="{{::ctrl.uniqueId}}" ng-switch-when="email" ng-blur="ctrl.onBlur()" id="{{::ctrl.uniqueId}}" class="form-control" type="email" ng-model="ctrl.field" placeholder="{{ctrl.placeholder || ctrl.label}}" ng-disabled="ctrl.disable">
  <input name="{{::ctrl.uniqueId}}" ng-switch-when="currency" currency-symbol="{{ctrl.curCode}}" ng-blur="ctrl.onBlur()" id="{{::ctrl.uniqueId}}" class="form-control" type="text" ng-model="ctrl.field" placeholder="{{ctrl.placeholder || ctrl.label}}" ui-money-mask ng-disabled="ctrl.disable">
  <input name="{{::ctrl.uniqueId}}" ng-switch-when="alphanumeric" ng-blur="ctrl.onBlur()" id="{{::ctrl.uniqueId}}" class="form-control" type="text" ng-model="ctrl.field" placeholder="{{ctrl.placeholder || ctrl.label}}" alphanumeric ng-disabled="ctrl.disable">
  <input name="{{::ctrl.uniqueId}}" ng-switch-when="number" ng-blur="ctrl.onBlur()" id="{{::ctrl.uniqueId}}" class="form-control" type="number" ng-model="ctrl.field" placeholder="{{ctrl.placeholder || ctrl.label}}" ng-disabled="ctrl.disable">
  <input name="{{::ctrl.uniqueId}}" ng-switch-when="address" ng-blur="ctrl.onBlur()" id="{{::ctrl.uniqueId}}" class="form-control" type="text" ng-model="ctrl.field" placeholder="{{ctrl.placeholder || ctrl.label}}" ng-disabled="ctrl.disable">
</div>